---
mathjax: true
nav_section: teaching
---
<!DOCTYPE html>
<html>
  <head>
    {% include site-head.html %}

    <title>Fundamentals of Artificlal Intelligence</title>




  </head>



  <body style="   max-width:900px; margin-left:auto ;margin-right:auto;">

    <div class="main">
    {% include site-header.html %}
    {% raw %}

<h2 class="page-heading"> Fundamentals of Artificial Intelligence </h2>

  <h3>Course 1</h3>

  <ul>
    <li>Slides: <a href= "/FAI_UVT/Courses/Curs_01.pdf">pdf</a></li>
    <li>Lab: <a href="/FAI_UVT/Labs/Lab_01.pdf">pdf</a></li>
    <li>Notebook: <a href="/FAI_UVT/Labs/L01_search.ipynb">Notebook</a></li>
    <li>Maze file: <a href="/FAI_UVT/Labs/L01_maze.txt">txt file</a></li>
  </ul>
  
    </div>
      </div>
    {% endraw %}
    {% include site-footer.html %}
  </body>

</html>
