---
nav_section: home
mathjax: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include site-head.html %}
    <script defer src="{{ '/assets/js/publications.js' | relative_url }}"></script>
    <script defer src="{{ '/assets/js/talks.js' | relative_url }}"></script>

    <title>Beniamin Bogosel</title>
  </head>
  <body>


    <div class="main">
     <!--<div w3-include-html= "header2.html"></div>
      <script>
      w3IncludeHTML();
      </script>-->
    {% include site-header.html %}
<section>
    <div id="container1">
    <div id="col1">
     <h3 style="margin-bottom: 15px;padding-left: 0px">Associate Professor</h3>
    <p style="margin-left: 10px"> <a href="https://stiinteexacte.uav.ro/en/cadre-didactice/departament">Faculty of Exact Sciences</a> <br> Aurel Vlaicu University of Arad
    <br>
    Arad, Romania </p>
    <p> <strong>Contact</strong><br>
    email:   <a href="mailto:beniamin.bogosel_at_uav.ro">beniamin.bogosel_at_uav.ro</a>
    </p>
    <p> <strong>Curriculum Vitae:</strong>  <a href="pdfs/CV-Beni-Bogosel.pdf">
    English</a>
        <!--<a href="pdfs/CV-Beni-Bogosel-FR.pdf">
      French</a>--> (last updated June 2025)</p>


    <p><strong>Teaching resources:</strong> <a class="but3" href="teaching.html">teaching</a> </p>



    <h3>Research Interests: </h3>
    <ul>
      <li>Calculus of variations, shape optimization </li>
      <li>Numerical shape optimization: $\Gamma$-convergence methods, relaxation, Level Set method  </li>
      <li>Shape optimization for eigenvalue problems: Dirichlet Laplace eigenvalues,
      Steklov/Wentzell Eigenvalues</li>
      <li>Optimal design for additive manufacturing constraints </li>
      <li>Optimal partitioning problems, multiphase problems</li>
      <li>Meshless methods: fundamental solutions</li>
    </ul>

     </div>
   <div id="col2" style="text-align: center;">
     <img src="beni.jpg" alt="my picture" style="width:100%;max-width:200px;margin:10px 0px 0px 0px">


    <div style="text-align:center;margin-bottom:0px;margin-top:10px">
    <h3 style="text-align: center; font-weight: bold;border:0px;margin:0px">Links</h3>
    <hr>
    <a class = "but2" href="https://scholar.google.com/citations?user=rWM3vFoAAAAJ&hl=en" target="_blank">
  <img src="scholar.svg"
       alt="Google Scholar"
       style="width:20px;height:20px;vertical-align:text-bottom;">
  Scholar
</a>
<hr>
<a class = "but2" href="https://www.researchgate.net/profile/Beniamin-Bogosel?ev=hdr_xprf" target="_blank">
  <img src="RG.png"
       alt="Research Gate"
       style="width:20px;height:20px;vertical-align:text-bottom;">
  RG
</a>
<hr>
<a class = "but2" href="https://www.webofscience.com/wos/author/record/2151612" target="_blank">
  <img src="wos.png"
       alt="Researcher ID"
       style="width:20px;height:20px;vertical-align:text-bottom;">
  WoS
</a>
<hr>
<a class = "but2" href="https://orcid.org/0000-0001-7535-5197" target="_blank">
  <img src="orcid.png"
       alt="Orcid"
       style="width:20px;height:20px;vertical-align:text-bottom;">
  ORCID
</a>
<hr>
<a class = "but2" href="https://github.com/beniamin-bogosel" target="_blank">
  <img src="github-mark.svg"
       alt="Orcid"
       style="width:20px;height:20px;vertical-align:text-bottom;">
  GitHub
</a>
    <hr>
    <a class="but2" href="https://mathproblems123.wordpress.com/">Visit my blog</a>
    <hr>
    <p style="text-align:center;margin-bottom:0px"><a class="but2" style="font-variant:normal" href="metapost.html">Metapost</a></p>
    </div>
    <hr>
    </div>
    </div>
  </section>

<section>
<h3> Habilitation thesis: mathematics </h3>

<p>Defended on 30 May 2024 at École Polytechnique</p>
<p>Documents: <a href="pdfs/Habilitation.pdf">Manuscript</a>, <a href="pdfs/SoutenanceHdR.pdf">Slides</a></p>


<h3> Recent and upcoming talks </h3>
<div id="latest-talks" data-talks-list="latest" data-talks-limit="5">
  <p class="talk-status">Loading recent talks…</p>
</div>

</section>

 <section id="ongoing">
     <h3> Recent results and ongoing work </h3>
     <div id="latest-publications" data-publications-list="latest" data-publications-limit="5">
       {% assign latest_publications = site.data.publications | reverse %}
       {% for publication in latest_publications limit: 5 %}
         {% assign abstract_id = 'publication-abstract-latest-' | append: forloop.index %}
         {% include publication-card.html publication=publication abstract_id=abstract_id latest=true show_tags=false show_year=true %}
       {% endfor %}
     </div>

 </section>

    </div>
    {% include site-footer.html %}
  </body>
</html>
