---
mathjax: true
nav_section: numerics
---
<!DOCTYPE html>
<!-- Restored from the legacy website archive. -->
<html lang="en">
  <head>
    {% include site-head.html %}
    <title>Contour optimization on meshes</title>
    <meta content="Beni Bogosel" name="author">
</head>
  <body class="research-detail">
    <div class="main">
    {% include site-header.html %}
    {% raw %}

<h3>Contour optimization on meshes</h3>

      <p>This is part of the study of minimal perimeter partitions on surfaces started
      <a href="modica_mortola_sphere.html">here</a> (in collaboration with Edouard Oudet). The $\Gamma$-convergence
      method gives a good approximation of the optimal partition. On the other hand, the optimal cost for the relaxed
      functional does not give a satisfactory estimation of the total perimeter of the partition. Here we want
      to compute more precisely this total perimeter.</p>

     <p style="text-align: left;"> First, let's note that having the optimal densities allows us to extract the contours
     of the partition (using, for example
     <a href="https://svn.oss.deltares.nl/repos/openearthtools/websites/trunk/matlab/applications/delft3d_matlab/tricontour.m">
     tricontour</a>). The problem with the extracted contours is that they follow the triangle boundaries and they are quite
     zig-zagged. In order to make them smoother we decided to optimize the new contours, with the area constraints, on
     the triangulated surface. The constrained optimization is made with Matlab's algorithm fmincon. The results obtained
     are quite satisfactory and thus we obtain a good approximation of the length of the optimal total perimeter of the
     partitions. </p>

     <center>
<table class = "thin" style ="table-layout: fixed" "font-size:5px" width = "70%" border="2" >
<tr><td><img loading="lazy" src="modica_sphere/Optimized-tor6.png" width="100%"  alt=""> </td>
    <td><img loading="lazy" src="modica_sphere/Optimized-sph6.png" width="100%"  alt=""></td>
    <td><img loading="lazy" src="modica_sphere/Optimized-dbtor6_mesh.png" width="100%"  alt=""></td>
<tr >
    <td align = "center"> Torus - $6$ cells </td>
    <td align = "center"> Sphere - $6$ cells </td>
    <td align = "center"> Double torus - $6$ cells </td>

</tr>
</table>

<table class = "thin" style ="table-layout: fixed" "font-size:5px" width = "70%" border="2" >
<tr><td><img loading="lazy" src="modica_sphere/Optimized-init_end.png" width="100%"  alt=""> </td>
<tr >
    <td align = "center"> Initial contours (blue) vs Optimized contours (red) </td>

</tr>
</table>


     </center>

     <p>
     The stages in the optimization algorithm are illustrated below. As said above, initially
     we perform the optimization in the relaxed formulation. Then we extract the contours of the cells.
     We finalize by optimizing and smoothing the contours on the triangulated surface.
     </p>
     <center>
<table class = "thin" style ="table-layout: fixed" "font-size:5px" width = "70%" border="2" >
<tr><td><img loading="lazy" src="modica_sphere/stage1.png" width="100%"  alt=""> </td>
    <td><img loading="lazy" src="modica_sphere/stage2.png" width="100%"  alt=""></td>
    <td><img loading="lazy" src="modica_sphere/stage3.png" width="100%"  alt=""></td>
<tr >
    <td align = "center"> Relaxed formulation by $\Gamma$-convergence </td>
    <td align = "center"> Extraction of the contours of cells (note that they are not very regular) </td>
    <td align = "center"> Optimization of the length under area constraint on the triangulated surface.
    This provides a good approximation of the optimal length of the optimal partition. </td>

</tr>
</table>
    </center>

        <p class="back-to-research"><a href="research.html">← Back to numerical computations</a></p>


    <hr>
    <p style = "font-size:10px"> Created: Feb 2016</p>
    </div>
    {% endraw %}
    {% include site-footer.html %}
  </body>
</html>
