---
mathjax: true
nav_section: teaching
---
<!DOCTYPE html>
<html>
  <head>
    {% include site-head.html %}

    <title>Numerical Calculation</title>




  </head>



  <body style="   max-width:900px; margin-left:auto ;margin-right:auto;">

    <div class="main">
    {% include site-header.html %}
    {% raw %}

<h2 class="page-heading"> Numerical Calculation </h2>

   <p>We will explore basic aspects in numerical analysis in order to perform efficient
    numerical computations.
   </p>

   <h3>Course Materials</h3>

   <p>Course notes (will be updated as the course advances): <a href="./NUMCALC_UAV/Numerical_Calculation.pdf">pdf file</a></p>

   <p>Mathcad worksheets</p>
   <ul>
    <li><a href="/NUMCALC_UAV/Curs3.mcdx">Curs3</a></li>
    <li><a href="/NUMCALC_UAV/Curs4.mcdx">Curs4</a></li>

    <li><a href="/NUMCALC_UAV/Curs5.mcdx">Curs5</a></li>
    <li><a href="/NUMCALC_UAV/Curs6.mcdx">Curs6</a></li>

    <li><a href="/NUMCALC_UAV/Curs7.mcdx">Curs7</a></li>
    <li><a href="/NUMCALC_UAV/Curs8_1.mcdx">Curs8 Part 1</a></li>
    <li><a href="/NUMCALC_UAV/Curs8_2.mcdx">Curs8 Part 2</a></li>
    <li><a href="/NUMCALC_UAV/Curs9_2.mcdx">Curs9</a></li>
    <li><a href="/NUMCALC_UAV/Curs10.mcdx">Curs10 Part 1</a></li>
    <li><a href="/NUMCALC_UAV/Curs10_2.mcdx">Curs10 Part 2</a></li>

   </ul>

   <strong>Problems</strong>

   <a href="/NUMCALC_UAV/NumCalcProblems.pdf">Problem List</a>

    </div>
      </div>
    {% endraw %}
    {% include site-footer.html %}
  </body>

</html>
