---
mathjax: true
nav_section: teaching
---
<!DOCTYPE html>
<html>
  <head>
    {% include site-head.html %}

    <title>Shape Optimization</title>




  </head>



  <body style="   max-width:900px; margin-left:auto ;margin-right:auto;">

    <div class="main">
    {% include site-header.html %}
    {% raw %}

<h2 class="page-heading"> Shape Optimization course at Aurel Vlaicu University of Arad</h2>

   <p>Partea 1: <a href = "https://drive.google.com/file/d/1I2F29UeCLYkID53IP6BeYScl5a9_WYRR/view?usp=drive_link">pdf file</a></p>
   <p>Note 1: <a href= "/SHO_UAV/SHO_2025_Curs1.pdf">pdf</a></p>

   <p>Partea 2: <a href = "https://drive.google.com/file/d/1pdqd4s0yQofkIyO7-oZpzVC_w1d_7rR_/view?usp=sharing">pdf file</a></p>

   <p>Note 2: <a href= "/SHO_UAV/SHO_2025_Curs2.pdf">pdf</a></p>

   <p>Subiect Seminar: <a href = "https://drive.google.com/file/d/1Idr-e4LEmuWowmS_ib22r4mZoBccUOCM/view?usp=sharing">pdf file</a> </p>


   <p>Note 3: <a href= "/SHO_UAV/SHO_2025_Curs3.pdf">pdf</a></p>

   <p>Note 4: <a href= "/SHO_UAV/SHO_2025_Curs4.pdf">pdf</a></p>

   <p>Note 5: <a href= "/SHO_UAV/SHO_2025_Curs5.pdf">pdf</a></p>

   <p>Note 6: <a href= "/SHO_UAV/SHO_2025_Curs6.pdf">pdf</a></p>

   <p>Note 7: <a href= "/SHO_UAV/SHO_2025_Curs7.pdf">pdf</a></p>

   <p>Note 8: <a href= "/SHO_UAV/SHO_2025_Curs8.pdf">pdf</a></p>

   <p>Note 9: <a href= "/SHO_UAV/SHO_2025_Curs9.pdf">pdf</a></p>

   <br>

   <p>Probleme Proiect: <a href="/SHO_UAV/Problems2025.pdf">pdf</a></p>

   <p>Cei care doresc să realizeze un proiect vor alege o temă din lista de Probleme
    și vor redacta rezolvarea acesteia (manuscrit sau tehnoredactat). Vă rog să vă înscrieți
    în fișierul Excel partajat. Cei care nu realizează proiect vor
    da examen în sesiune.
   </p>
  </div>
  </div>
    {% endraw %}
    {% include site-footer.html %}
  </body>

</html>
