---
mathjax: true
nav_section: numerics
---
<!DOCTYPE html>
<!-- Restored from the legacy website archive. -->
<html lang="en">
  <head>
    {% include site-head.html %}
    <title>Optimization the Steklov Eigenvalues - Diameter Constraint</title>
    <meta content="Beni Bogosel" name="author">
</head>
  <body class="research-detail" >
    <div class="main">
    {% include site-header.html %}
    {% raw %}

<h3>Optimization of Steklov eigenvalues</h3>

      <p>Collaboration with A. Al Sayed, A. Henrot, F. Nacry. Preprint available <a href="https://drive.google.com/file/d/16xLOR_F2WJ5vcW-k5lZ6KpMaEsTA52Hv/view?usp=drive_link">here</a>. </p>

      <p> We look at optimal shapes for the Steklov eigenvalue problem under convexity and diameter constraint. The convexity helps us obtain theoretical results regarding existence.</p>

     <p style="text-align: left;">The numerical simulations use the support function parametrization in the convex case. The simulations suggest that the diameter constraint is saturated at exactly two points. This implies that the simpler double graph parametrization should also work. This second parametrization allows us to find numerical candidates even without a convexity constraint. All computations were done with FreeFEM and the optimization was handled by IPOPT. You can consult the paper for more detailed information.</p>

     <p>The minimizers in the class of convex sets with fixed diameter are shown below for the first seven eigenvalues. The minimizers seem to converge to a segment.</p>

     <center>
<table class = "thin" style ="table-layout: fixed; text-align: center; display: inline-block" "font-size:5px" width = "50%" border="2" >
    <tr><td></td><td width="60%">maximizer</td></tr>

<tr><td>$\sigma_1$</td>
    <td><img loading="lazy" src="SteklovDiam/SteklovDiam1.png" width="100%"  alt=""> </td></tr>
<tr><td>$\sigma_2$</td>
    <td><img loading="lazy" src="SteklovDiam/SteklovDiam2.png" width="100%"  alt=""> </td></tr>
<tr><td>$\sigma_3$</td>
    <td><img loading="lazy" src="SteklovDiam/SteklovDiam3.png" width="100%"  alt=""> </td></tr>
<tr><td>$\sigma_4$</td>
    <td><img loading="lazy" src="SteklovDiam/SteklovDiam4.png" width="100%"  alt=""> </td></tr>
<tr><td>$\sigma_5$</td>
    <td><img loading="lazy" src="SteklovDiam/SteklovDiam5.png" width="100%"  alt=""> </td></tr>
<tr><td>$\sigma_6$</td>
    <td><img loading="lazy" src="SteklovDiam/SteklovDiam6.png" width="100%"  alt=""> </td></tr>
<tr><td>$\sigma_7$</td>
    <td><img loading="lazy" src="SteklovDiam/SteklovDiam7.png" width="100%"  alt=""> </td></tr>
</table>
     </center>

    <p>Some results obtained in the non-convex case are shown below.</p>

    <center>
    <table class = "thin" style ="table-layout: fixed; text-align: center; display: inline-block" "font-size:5px" width = "50%" border="2">
   <tr><td></td><td width="60%">maximizer</td></tr>
        <tr><td>$\sigma_1$</td>
    <td><img loading="lazy" src="SteklovDiam/NonConvex1.png" width="100%"  alt=""> </td></tr>
<tr><td>$\sigma_2$</td>
    <td><img loading="lazy" src="SteklovDiam/NonConvex2.png" width="100%"  alt=""> </td></tr>
<tr><td>$\sigma_3$</td>
    <td><img loading="lazy" src="SteklovDiam/NonConvex3.png" width="100%"  alt=""> </td></tr>
        </table>
    </center>
       <p class="back-to-research"><a href="research.html">← Back to numerical computations</a></p>

    <hr>
    <p style = "font-size:10px"> Created: Mar 2020</p>
    </div>
    {% endraw %}
    {% include site-footer.html %}
  </body>
</html>
