---
nav_section: numerics
---
<!DOCTYPE html>
<!-- Restored from the legacy website archive. -->
<html lang="en">
  <head>
    {% include site-head.html %}
<!--<style> table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>-->
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script> <script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>

    <title>Optimization of Supports in Additive Manufacturing</title>
    <meta content="Beni Bogosel" name="author">

  </head>
  <body class="research-detail" >
        <div class="main">
    {% include site-header.html %}
    {% raw %}

<h3>Optimization of Supports in Additive Manufacturing</h3>

    <p> Collaboration with Grégoire Allaire.</p>
    <p>Below you can see some results for the construction of supports for given shapes via an optimization process.</p>
    <center>
<table class= "thin" style ="table-layout: fixed" "font-size:5px" width = "90%" border="2" >
<tr>
    <td width="50%"><img style="text-align:center" src="Supports/chaiseGif1.gif" width="99%"  alt=""></td>
    <td><img src="Supports/MBBGif1.gif" width="100%"  alt=""></td>
    </tr>
        </table>
            </center>

    <p>Below you can see an animation of the optimization process.
    </p>

    <div style="text-align:center">
    <img style="text-align:center" src="Supports/optim.gif" width="50%"  alt="">  </div>

    <p> More details coming soon. (Visualization done with <a href="http://www.cmap.polytechnique.fr/~jouve/xd3d/">xd3d</a> and Paraview)</p>



    <p class="back-to-research"><a href="research.html">← Back to numerical computations</a></p>

    <hr>
    <p style = "font-size:8px"> Created: Sept 2017, Last modified: Jan 2018</p>
      </div>
    {% endraw %}
    {% include site-footer.html %}
  </body>
</html>
