---
nav_section: teaching
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include site-head.html %}
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script> <script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>

    <title>Teaching</title>




  </head>



  <body style="   max-width:900px; margin-left:auto ;margin-right:auto;">

    <div class="main">
    {% include site-header.html %}
    {% raw %}

<h3> Courses at Aurel Vlaicu University of Arad, Romania</h3>


   <h3>Teaching:</h3>
    <ul>
    <li>
       <a class="but3" href="OPT_UAV.html">Optimization Techniques</a>
    </li>
    <li>
      <a class="but3" href="APT_UAV.html">Advanced Prog. Methods</a>
    </li>
    <li>
      <a class="but3" href="SHO_UAV.html">Shape Optimization UAV</a>
    </li>
     <li>
      <a class="but3" href="MetC_UAV.html">Metodologia Cercetarii Stiintifice</a>
    </li>
     <li>
      <a class="but3" href="IntroML_UAV.html">PyTorch: Intro to Machine Learning</a>
    </li>
    <li>
      <a class="but3" href="OOP_UAV.html">Object Oriented Programming</a>
    </li>
    <li>
      <a class="but3" href="RL_UAV.html">Advanced Prog. Techniques</a>
    </li>
    <li>
      <a class="but3" href="NUMCALC_UAV.html">Numerical Calculation</a>
    </li>
    </ul>


   <h3> Courses taught at Ecole Polytechnique, Institut Polytechnique de Paris, France </h3>

    <hr>

    <div class="course"><b> MAP435 Optimization and Control (2020-2025)</b> Second year of the Polytechnique Engineer programme. Practical sessions: exercises and numerical algorithms.</div>

    <hr>
    <div class="course">
    <p><b>Computational Maths 2: Numerical Optimization (2018-2025)</b>
    </p>
    <p>Second year of the Bachelor program at Ecole Polytechnique. Optimization and numerical algorithms.</p>

    </div>

    <hr>

    <div class="course">
    <p><b>Modal MAP472A (2020-2025)</b> Modelization and practical aspects related to applied mathematics. Students work in groups on subjects involving models and numerical simulations. Subjects I proposed were related to: high order Runge-Kutta methods implemented using Butcher tables, modelization and simulation of a double pendulum, inverted cart pendulum, the $n$-body problem.</p>
    </div>


    <hr>
    <div class="course">
    <p><b>Optimal design of structures - MAP562 (2018-2025)</b> in collaboration with Grégoire Allaire (2018-2020) and Samuel Amstutz (2020-2024).
    </p>
    </div>
    <hr>

    <div class="course">
    <p><b>MAP412 Introduction à l'Analyse Numérique (2019-2020)</b> Practical sessions.</p>
    </div>
    <hr>
      </div>
    {% endraw %}
    {% include site-footer.html %}
  </body>

</html>
