---
mathjax: true
nav_section: teaching
---
<!DOCTYPE html>
<html>
  <head>
    {% include site-head.html %}

    <title>Validated Computing</title>




  </head>



  <body style="   max-width:900px; margin-left:auto ;margin-right:auto;">

    <div class="main">
    {% include site-header.html %}
    {% raw %}

<h2 class="page-heading"> Validated Computing </h2>

  <p>See the initial course contents at the following <a href="https://github.com/beniamin-bogosel/ValidatedComputingCourse/tree/master">Github repository</a>
  </p> 

  <ol>
    <li>Introduction: 
      <ul><li><a href="/ValCompUAV/Course1.pdf">pdf notes</a></li>
        <li><a href="https://colab.research.google.com/drive/1laxJMu28AOLlZzGObdt7gefQx8M7GQph?usp=sharing">Google Colab notebook</a></li>
      </ul>
      </li>
     
      <li>
        Approximation, Enclosure, Certification
        <ul>
          <li><a href="/ValCompUAV/Course2.pdf">pdf notes</a></li>
          <li><a href="https://colab.research.google.com/drive/1wEDK66Pcn89pRlc4_Z5yuoXJlkHzlK5U?usp=sharing">Google Colab notebook</a></li>
        </ul>
      </li>
  </ol>


    </div>
    {% endraw %}
    {% include site-footer.html %}
  </body>

</html>
